automation/make_scenario.blueprint.json
{
    "name": "Shift-left_Firmware_SecOps_Make",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3354988,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -390,
                    "y": 2
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "firmware-scan-intake"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "project",
                        "type": "text"
                    },
                    {
                        "name": "commit",
                        "type": "text"
                    },
                    {
                        "name": "run_id",
                        "type": "text"
                    },
                    {
                        "name": "timestamp",
                        "type": "text"
                    },
                    {
                        "name": "firmware",
                        "type": "text"
                    },
                    {
                        "name": "summary",
                        "spec": [
                            {
                                "name": "total",
                                "type": "number"
                            },
                            {
                                "name": "high",
                                "type": "number"
                            },
                            {
                                "name": "medium",
                                "type": "number"
                            },
                            {
                                "name": "info",
                                "type": "number"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "findings",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text"
                                },
                                {
                                    "name": "source",
                                    "type": "text"
                                },
                                {
                                    "name": "type",
                                    "type": "text"
                                },
                                {
                                    "name": "severity",
                                    "type": "text"
                                },
                                {
                                    "name": "file",
                                    "type": "text"
                                },
                                {
                                    "name": "identifier",
                                    "type": "text"
                                },
                                {
                                    "name": "description",
                                    "type": "text"
                                },
                                {
                                    "name": "redacted",
                                    "type": "boolean"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": null,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -28,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "json:TransformToJSON",
                            "version": 1,
                            "parameters": {
                                "space": ""
                            },
                            "filter": {
                                "name": "Blocker - High findings",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.summary.high}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "object": "{{`2`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 301,
                                    "y": -204
                                },
                                "restore": {
                                    "parameters": {
                                        "space": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "space",
                                        "type": "select",
                                        "label": "Indentation",
                                        "validate": {
                                            "enum": [
                                                "tab",
                                                "2",
                                                "4"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "object",
                                        "type": "any",
                                        "label": "Object"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 8832610
                            },
                            "mapper": {
                                "model": "gemini-2.5-flash",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "text": "Scan report JSON:{{7.json}}\r\n\r\nWrite a triage alert in markdown, under 250 words total:\r\n1. **Executive summary** — one paragraph: overall risk level and why, in plain\r\n   language a manager understands.\r\n2. **Critical findings** — the findings that made this a blocker, each with a\r\n   one-line real-world impact (what an attacker could actually do).\r\n3. **Remediation** — exactly 3 bullets, most urgent first, each a concrete action.\n4. **Physical Risk** — for any finding that includes a hardware_context, add one line describing how it could be physically exploited on the device (from the physical_vector and physical_impact fields).",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                ],
                                "generationConfig": {
                                    "imageConfig": {},
                                    "thinkingConfig": {}
                                },
                                "system_instruction": {
                                    "parts": [
                                        {
                                            "text": "You are an L3 SOC (Security Operations Center) analyst reviewing automated\r\nfirmware security scan reports. Reports are pre-redacted: they contain finding\r\nmetadata only, never actual secret values. Base everything strictly on the\r\nreport. Do not invent findings. If tools corroborate each other (same file\r\nflagged twice), say so — it raises confidence."
                                        }
                                    ]
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 614,
                                    "y": -210
                                },
                                "restore": {
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini 2.5 FlashDiscontinuation date: October 16, 2026"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "serviceTier": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "url_context": {
                                            "mode": "chose"
                                        },
                                        "code_execution": {
                                            "mode": "chose"
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "imageConfig": {
                                                    "nested": {
                                                        "imageSize": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "stopSequences": {
                                                    "mode": "chose"
                                                },
                                                "thinkingConfig": {
                                                    "nested": {
                                                        "thinking_level": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "include_thoughts": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "mediaResolution": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseMimeType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "responseModalities": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "system_instruction": {
                                            "nested": {
                                                "parts": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "google_maps_context": {
                                            "mode": "chose"
                                        },
                                        "google_search_context": {
                                            "mode": "chose"
                                        },
                                        "file_search_store_context": {
                                            "mode": "chose"
                                        },
                                        "function_declarations_context": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            },
                                            "label": "Gemini_Make_API"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Call",
                                                                "value": "functionCall",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionCall",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                "name": "args",
                                                                                "type": "json",
                                                                                "label": "Arguments"
                                                                            },
                                                                            {
                                                                                "help": "The unique ID of the function call.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Function Call ID"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Call"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Response",
                                                                "value": "functionResponse",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionResponse",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function response in JSON object format.",
                                                                                "name": "response",
                                                                                "type": "json",
                                                                                "label": "Response",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Response"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "thoughtSignature",
                                                        "type": "text",
                                                        "label": "Thought Signature"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "system_instruction",
                                        "spec": [
                                            {
                                                "name": "parts",
                                                "spec": {
                                                    "name": "value",
                                                    "spec": [
                                                        {
                                                            "name": "text",
                                                            "type": "text",
                                                            "label": "Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Prompt"
                                                },
                                                "type": "array",
                                                "label": "Prompts"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "System Instructions"
                                    },
                                    {
                                        "name": "safetySettings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Safety Settings"
                                    },
                                    {
                                        "name": "generationConfig",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Stop Sequence"
                                                },
                                                "type": "array",
                                                "label": "Stop Sequences"
                                            },
                                            {
                                                "name": "responseModalities",
                                                "type": "select",
                                                "label": "Response Modalities",
                                                "multiple": true,
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "image"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            },
                                            {
                                                "name": "thinkingConfig",
                                                "spec": [
                                                    {
                                                        "name": "thinkingBudget",
                                                        "type": "number",
                                                        "label": "Thinking Budget"
                                                    },
                                                    {
                                                        "name": "include_thoughts",
                                                        "type": "boolean",
                                                        "label": "Include Thoughts"
                                                    },
                                                    {
                                                        "name": "thinking_level",
                                                        "type": "select",
                                                        "label": "Thinking Level",
                                                        "validate": {
                                                            "enum": [
                                                                "low",
                                                                "high"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thinking Config"
                                            },
                                            {
                                                "name": "mediaResolution",
                                                "type": "select",
                                                "label": "Media Resolution",
                                                "validate": {
                                                    "enum": [
                                                        "media_resolution_low",
                                                        "media_resolution_medium",
                                                        "media_resolution_high"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "imageConfig",
                                                "spec": [
                                                    {
                                                        "name": "imageSize",
                                                        "type": "select",
                                                        "label": "Image Size",
                                                        "validate": {
                                                            "enum": [
                                                                "1K",
                                                                "2K",
                                                                "4K"
                                                            ]
                                                        }
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image Configuration"
                                            },
                                            {
                                                "name": "responseMimeType",
                                                "type": "select",
                                                "label": "Response Format"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generation configurations"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    },
                                    {
                                        "name": "function_declarations_context",
                                        "type": "boolean",
                                        "label": "Function Declarations Grounding"
                                    },
                                    {
                                        "name": "url_context",
                                        "type": "boolean",
                                        "label": "URL Context"
                                    },
                                    {
                                        "name": "google_search_context",
                                        "type": "boolean",
                                        "label": "Google Search Grounding"
                                    },
                                    {
                                        "name": "code_execution",
                                        "type": "boolean",
                                        "label": "Code Execution"
                                    },
                                    {
                                        "name": "google_maps_context",
                                        "type": "boolean",
                                        "label": "Google Maps Grounding"
                                    },
                                    {
                                        "name": "file_search_store_context",
                                        "type": "boolean",
                                        "label": "File Search Store Context"
                                    },
                                    {
                                        "name": "serviceTier",
                                        "type": "select",
                                        "label": "Inference Service Tier"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "http:MakeRequest",
                            "version": 4,
                            "parameters": {
                                "tlsType": "",
                                "authenticationType": "noAuth"
                            },
                            "mapper": {
                                "url": "REDACTED_DISCORD_WEBHOOK_URL",
                                "method": "post",
                                "contentType": "urlEncoded",
                                "shareCookies": false,
                                "parseResponse": true,
                                "allowRedirects": true,
                                "stopOnHttpError": true,
                                "urlEncodedBodyContent": [
                                    {
                                        "name": "content",
                                        "value": "{{6.result}}"
                                    }
                                ],
                                "requestCompressedContent": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 950,
                                    "y": -211
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "application/x-www-form-urlencodedEnter form data as key-value pairs encoded in the URL style."
                                        },
                                        "shareCookies": {
                                            "mode": "chose"
                                        },
                                        "parseResponse": {
                                            "mode": "chose"
                                        },
                                        "allowRedirects": {
                                            "mode": "chose"
                                        },
                                        "paginationType": {
                                            "label": "Empty"
                                        },
                                        "queryParameters": {
                                            "mode": "chose"
                                        },
                                        "stopOnHttpError": {
                                            "mode": "chose"
                                        },
                                        "urlEncodedBodyContent": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "requestCompressedContent": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "tlsType": {
                                            "label": "Empty"
                                        },
                                        "authenticationType": {
                                            "label": "No authenticationUse when no credentials are required for the request."
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "authenticationType",
                                        "type": "select",
                                        "label": "Authentication type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "noAuth",
                                                "apiKey",
                                                "basicAuth",
                                                "oAuth"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "tlsType",
                                        "type": "select",
                                        "label": "Transport layer security (TLS)",
                                        "validate": {
                                            "enum": [
                                                "mTls",
                                                "tls"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "proxyKeychain",
                                        "type": "keychain:proxy",
                                        "label": "Proxy"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true,
                                                    "validate": {
                                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                    }
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Header"
                                        },
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "queryParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Parameter"
                                        },
                                        "type": "array",
                                        "label": "Query parameters"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Body content type",
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "multipart",
                                                "urlEncoded",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "stopOnHttpError",
                                        "type": "boolean",
                                        "label": "Return error if HTTP request fails",
                                        "required": true
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "allowRedirects",
                                        "type": "boolean",
                                        "label": "Allow redirects",
                                        "required": true
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "requestCompressedContent",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "urlEncodedBodyContent",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Field"
                                        },
                                        "type": "array",
                                        "label": "Body content",
                                        "required": true
                                    },
                                    {
                                        "name": "paginationType",
                                        "type": "select",
                                        "label": "Pagination type",
                                        "validate": {
                                            "enum": [
                                                "offsetBased",
                                                "pageBased",
                                                "urlBased",
                                                "tokenBased"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "data",
                                        "type": "any",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "statusCode",
                                        "type": "number",
                                        "label": "Status Code"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "content-length",
                                                "type": "text",
                                                "label": "Content-Length"
                                            },
                                            {
                                                "name": "content-encoding",
                                                "type": "text",
                                                "label": "Content-Encoding"
                                            },
                                            {
                                                "name": "content-type",
                                                "type": "text",
                                                "label": "Content-Type"
                                            },
                                            {
                                                "name": "server",
                                                "type": "text",
                                                "label": "Server"
                                            },
                                            {
                                                "name": "cache-control",
                                                "type": "text",
                                                "label": "Cache-Control"
                                            },
                                            {
                                                "name": "set-cookie",
                                                "spec": {
                                                    "type": "text"
                                                },
                                                "type": "array",
                                                "label": "Set-Cookie"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Headers"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "Warning - no HIGH findings",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{2.summary.high}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 300,
                                    "y": 163
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}